:root {
    --bg-image: url(images/wallpapers/light.png);
    --colorbase: rgb(205,210,150);
    --contrastcolorbase: rgb(44, 90, 13);
    --contrastcolorbasehover: rgb(38, 78, 11);
    --fontcolor: rgb(62, 73, 0);
}

[data-theme="dark"] {
    --bg-image: url(images/wallpapers/dark.png);
    --colorbase: rgb(44, 90, 13);
    --contrastcolorbase: rgb(205,210,150);
    --contrastcolorbasehover: rgb(222, 227, 173);
    --fontcolor: rgb(252, 255, 219);
}

html {
    height: 100%;
    width: 100%;
}


html { 
    margin:0;
    padding:0;
    background: var(--bg-image) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: var(--fontcolor);
}

h1.website-title {
    font-size: 6vh;
    text-align: center;
    background-color: var(--colorbase);
    padding: 3vh;
    border-radius: 50px;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.titlecontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: inherit;
    align-items: center;
    height: 10vh;
    margin-top: 5vh;
}


.darkmode {
    background-color: var(--contrastcolorbase);
    color: var(--fontcolor);
    border-radius: 50px;
    margin-top: 15vh;
    margin-bottom: 10vh;
    margin-left: 5vh;
    border: 0px solid;
    padding: 3vh;
    align-items: center;
    display: flex;
    justify-content: center;
}
.darkmode:hover {
    background-color: var(--contrastcolorbasehover);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.darkmode:active > img {
    transform: rotate(360deg);
    animation-name: rotate;
    animation-duration: 0.25s;
}

img.svgicon {
    width: 7vh;
    height: 7vh;

}

